// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$blue: #002663; // main blue across the site
$text-blue: #3a5786;
$light-blue: #80a1b6;
$font-blue-two: #23324a;
$green: #92d400;
$green-border: #94c11f;
$grey: grey;
$lightest-grey: #92979f;
$pagenation-grey: #c7c4c8;
$font-grey: #6b6a69; // page title paragraph
$background-grey: #7e848f; // list of countries visitied 
$social-border: #9198a4;
$quote-blue: #263748; // stories quote text colour
$beige: #f4f2f1; // beige
$input-border: #e5e6e9; // donate form input border;
$greyed-out: #a9acb3; // form stage greyed out
$orange: #de7928;